.HeadDiv {
  width: 100%;
}

.HeadDivBg {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  /* background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.HeadDivBgicon {
  display: block;
  position: absolute;
}

.HeadDivBgicon1 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.HeadDivlist {
  display: block;
  position: absolute;
  color: white;
  font-size: 12px;
  /* width: 879px; */
}
.HeadDivlistItem {
  margin-left: 19px;
}
.HeadDivBg1 {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.HeadDivBg2 {
  /* background-image: url('./img/4.png'); */
  display: block;
  position: relative;
  height: auto;
}
.HeadDivBg3 {
  width: 100%;
  height: auto;
}

.HeadDivBg4 {
  width: 100%;
  /* height: auto; */
  display: block;
  position: relative;
  /* background-color: red; */
}
.HeadDivBg5 {
  /* width: 100%; */
  display: flex;
  /* background-color: black; */
}
.HeadDivBg8 {
  width: 100%;
  height: auto;
}
div.HeadDivBg9 {
  margin-left: 10px;
}
.HeadDivBg9 {
  display: inline-block;
}
.HeadDivBg10 {
  display: block;
}

.HeadDivBg11 {
  padding: 10px;
  text-align: left;
}
.imgtop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.anli {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.HeadDivBg7 {
  display: inline-block;
}
.HeadDivBg6 {
  display: flex;
}
.HeadDivBg12 {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #999999;
}
.hez {
  color: #999999;
}
.HeadDivBg13 {
  text-align: left;
  display: flex;
}
.HeadDivBg14 {
  display: inline-block;
  position: relative;
}
.HeadDivBg15 {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.HeadDivBg15 div {
  margin-left: 10px;
  color: #fff;
}
.color33 {
  color: #333;
  margin-bottom: 5px;
}
.HeadDivBg16 {
  display: inline-block;
}
.HeadDivBg17 {
  display: inline-block;
}
.HeadDivBg18 {
  display: block;
}
.HeadDivBg19 {
  display: inline-block;
}
.HeadDivBg20 {
  overflow: hidden;
  font-size: 12px;
  color: #999;
}
.xinwen {
  position: relative;
}
.xinwen .bgimg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.xinwen .bgimg img {
  width: 100%;
  height: 100%;
}
.xinwen .top {
  position: relative;
  z-index: 9;
}
.imgBox123 {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  text-align: left;
}
.imgBox123 .left,
.imgBox123 .right {
  background-color: #fff;
  box-sizing: border-box;
}
.imgBox123 .left .top,
.imgBox123 .right .left {
  background-color: #b2b2b2;
}
.imgBox123 .title {
  color: #4a4a4a;
  margin-bottom: 10px;
}
.imgBox123 .msg {
  color: #757575;
}
.imgBox123 .boxList {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.imgBox123 .boxList .box {
  display: flex;
}
.laojie {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  position: relative;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
}
.aaa {
  display: none;
}
@media (max-width: 768px) {
  .hhhh {
    display: none;
  }
  .aaa {
    display: block;
  }
  .xinwen {
    display: none;
  }
  .HeadDivBg4 {
    display: none;
  }
}
